@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
.toasts-container_top-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  padding: 0 10px;
  z-index: 1000; }
  @media (max-width: 720px) {
    .toasts-container_top-left {
      max-width: 50%; } }

.toasts-container_top-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  padding: 0 10px;
  z-index: 1000; }
  @media (max-width: 720px) {
    .toasts-container_top-right {
      max-width: 50%; } }

.toasts-container_bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  padding: 0 10px;
  z-index: 1000; }
  @media (max-width: 720px) {
    .toasts-container_bottom-left {
      max-width: 50%; } }

.toasts-container_bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  padding: 0 10px;
  z-index: 1000; }
  @media (max-width: 720px) {
    .toasts-container_bottom-right {
      max-width: 50%; } }

.toast {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;
  width: 100%;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); }

.toast__header_success {
  background-color: #36bd2a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.toast__header_warning {
  background-color: #edae26;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.toast__header_error {
  background-color: #f23b2e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.toast__header_info {
  background-color: #498bf5;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.toast__title-wrapper {
  display: flex;
  align-items: center; }

.toast__title {
  font-weight: bold;
  padding: 0 10px; }

.toast__close-btn {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.toast__body {
  background-color: #ffffff;
  padding: 10px; }

.toast__text {
  margin: 0;
  padding: 0; }
