@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

// MIXINS
@mixin toast__header($bg-color) {
    background-color: $bg-color;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@mixin toasts-container($top: null, $right: null, $bottom: null, $left: null) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    padding: 0 10px;
    z-index: 1000;
    @media (max-width: 720px) {
        & {
            max-width: 50%;
        }
    }
}

// TOASTS CONTAINER
.toasts-container_top-left {
    @include toasts-container($top: 0, $left: 0);
}
.toasts-container_top-right {
    @include toasts-container($top: 0, $right: 0);
}
.toasts-container_bottom-left {
    @include toasts-container($bottom: 0, $left: 0);
}
.toasts-container_bottom-right {
    @include toasts-container($bottom: 0, $right: 0);
}

// TOAST
.toast {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    width: 100%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

// TOAST HEDER
.toast__header_success {
    @include toast__header(#36bd2a);
}
.toast__header_warning {
    @include toast__header(#edae26);
}
.toast__header_error {
    @include toast__header(#f23b2e);
}
.toast__header_info {
    @include toast__header(#498bf5);
}

// TOAST TITLE
.toast__title-wrapper {
    display: flex;
    align-items: center;
}

.toast__title {
    font-weight: bold;
    padding: 0 10px;
}

// CLOSE BTN
.toast__close-btn {
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

//TOAST BODY
.toast__body {
    background-color: #ffffff;
    padding: 10px;
}

.toast__text {
    margin: 0;
    padding: 0;
}
